<% provide(:title, 'Weibo Search Statistics') %>
<h1>Statistics of Posts Related with JianShu on Weibo</h1><br>
<h2><%= "Datebase Last Updated: #{last_update_time}" %></h2><br><br>
<%= mblog_today_count %>
<%= mblog_group_by_day %> <br><br>
<%= mblog_group_by_hour_of_day %> <br><br>
<%= mblog_by_gender %> <br><br>
<%= mblog_top_source_bar %> <br><br>
<%= mblog_top_source_pie %> <br><br>
<%= mblog_publish_top_source %> <br><br>
<%= mblog_share_top_source %> <br><br>